<p>customer-vehicles works!</p>

<p-table [value]="vehicles">
    <ng-template pTemplate="header">
        <tr>
            <th>vehicle ID</th>
            <th>Reg Nr</th>
            <th>Customer Name</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
        <tr>
            <td>{{vehicle.vehicleId}}</td>
            <td>{{vehicle.regNr}}</td>
            <td>{{vehicle.customerName}}</td>
            <td>{{vehicle.status}}</td>
        </tr>
    </ng-template>
</p-table>